body {
  margin-top: 36px;
  margin-left: 156px;
  font-family: "Montserrat", sans-serif;

}

button {
  display: block;
  cursor: pointer;
}

.main-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.input-btn {
  display: flex;
  width: 355px;
  height: 40px;
  gap: 8px;
  margin-bottom: 32px;
 
}
.timer-input {
  width: 272px;
  height: 100hv;
  border-radius: 8px;
  border: 1px solid #808080;
border-radius: 4px;


}
.start-btn {
  width: 75px;
  height: 100hv;
  border-radius: 8px;
padding: 8px 16px;
width: 75px;
height: 40px;
background: #4e75ff;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
}

.start-btn:hover  {
  background: #6c8cff;
  border: none;

}
.timer {
  display: flex;
  justify-content: start;
  width: 346px;

  gap: 24px;
}
.field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.field:last-child {
  margin-right: 0;
}
.value {
  font-weight: 400;
font-size: 40px;
line-height: 1.2;
letter-spacing: 0.04em;
color: #2e2f42;
}
.label {
  font-weight: 400;
font-size: 16px;
line-height: 1.5;
color: #2e2f42;
}